# COVID en Costa Rica al 30 de mayo de 2022

In [1]:
# Se acostumbra cargar pandas con el alias pd

import pandas as pd

In [2]:
# Carga de módulos de matplotlib
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [ ]:
# Datos generales COVID

In [7]:
# Carga de datos generales
covid_general = pd.read_csv("05_30_22_CSV_GENERAL.csv", sep=";")

In [8]:
covid_general

,FECHA,SE,positivos,nue_posi,conf_lab,conf_nexo,muj_posi,hom_posi,extranj_posi,costar_posi,...,CEACOINS_UCI,CEACOINS_SALON,PAUT_UCI,PAUT_SALON,HVITO_UCI,HVITO_SALON,UNICAR_SAL,UNICAR_UCI,ARS-SIQ_SAL,ARS_SIQ_UCI
0,06/03/2020,10,2,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/03/2020,10,7,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08/03/2020,11,10,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09/03/2020,11,12,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10/03/2020,11,13,1,NaN,NaN,7.0,6.0,3.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,26/05/2022,21,896712,3499,3272.0,227.0,460886.0,435826.0,102478.0,794234.0,...,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0
812,27/05/2022,21,899404,2692,2491.0,201.0,462372.0,437032.0,102727.0,796677.0,...,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0
813,28/05/2022,21,901542,2138,1907.0,231.0,463595.0,437947.0,103010.0,798532.0,...,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0
814,29/05/2022,22,903213,1671,1603.0,68.0,464547.0,438666.0,103241.0,799972.0,...,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0
815,30/05/2022,22,904934,1721,1648.0,73.0,465503.0,439431.0,103460.0,801474.0,...,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0

In [10]:
covid_positivos = pd.read_csv("05_30_22_CSV_POSITIVOS.csv",
                              sep=";",
                              encoding="iso-8859-1")

covid_positivos

,cod_provin,provincia,cod_canton,canton,15/03/2020,16/03/2020,17/03/2020,18/03/2020,19/03/2020,20/03/2020,...,21/05/2022,22/05/2022,23/05/2022,24/05/2022,25/05/2022,26/05/2022,27/05/2022,28/05/2022,29/05/2022,30/05/2022
0,1.0,San José,112.0,Acosta,0.0,0.0,0.0,0.0,0.0,0.0,...,3967.0,3974.0,3978.0,4008.0,4012.0,4026.0,4049.0,4054.0,4081.0,4104.0
1,1.0,San José,110.0,Alajuelita,0.0,0.0,0.0,0.0,0.0,0.0,...,18696.0,18711.0,18725.0,18763.0,18802.0,18842.0,18887.0,18918.0,18952.0,18973.0
2,1.0,San José,106.0,Aserrí,0.0,0.0,0.0,0.0,0.0,0.0,...,10680.0,10704.0,10716.0,10729.0,10753.0,10782.0,10812.0,10829.0,10852.0,10880.0
3,1.0,San José,118.0,Curridabat,0.0,0.0,1.0,2.0,3.0,5.0,...,14183.0,14200.0,14216.0,14268.0,14329.0,14382.0,14433.0,14459.0,14486.0,14518.0
4,1.0,San José,103.0,Desamparados,4.0,4.0,4.0,4.0,4.0,5.0,...,42546.0,42611.0,42654.0,42762.0,42843.0,42985.0,43084.0,43147.0,43208.0,43283.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,7.0,Limón,702.0,Pococí,0.0,0.0,0.0,0.0,0.0,0.0,...,20167.0,20196.0,20210.0,20243.0,20268.0,20355.0,20379.0,20410.0,20428.0,20449.0
80,7.0,Limón,703.0,Siquirres,0.0,0.0,0.0,0.0,0.0,0.0,...,10226.0,10235.0,10248.0,10265.0,10271.0,10301.0,10315.0,10328.0,10339.0,10349.0
81,7.0,Limón,704.0,Talamanca,0.0,0.0,0.0,0.0,0.0,0.0,...,5415.0,5415.0,5419.0,5425.0,5429.0,5437.0,5444.0,5457.0,5464.0,5468.0
82,9.0,Otros,999.0,Otros,0.0,0.0,0.0,1.0,1.0,7.0,...,350.0,350.0,350.0,350.0,350.0,351.0,351.0,351.0,351.0,352.0
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN